/* NAVBAR */
body{
    box-sizing: border-box;
    margin: 0;
}

li{
  list-style: none;
}

a{
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;

}


label{
  font-family:'Roboto Slab', cursive!important;
  color:  #59595B;
  font-size: 1em;
}

.files{
  width: 30%;
  font-family:'Roboto Slab', cursive!important;
  background-color: transparent;
  color: #59595B;


}


.navbar{
  background-color: transparent!important;

}

.boton-div{
    padding-top:2%;
}
.boton{
  background-color: #FF4843 ;
  border-color: transparent;
  width: 30%;
  position: relative;
  left: 70%;
  height: 8vh;
  color: #FAF9F6;
  font-family: 'Roboto Slab', serif;
}
.boton:hover{
    background-color:  #FAF9F6 ;
    color: #FF4843;
    border-color: transparent;
}
.boton:active{
    background-color:  #FAF9F6 !important;
    color: #FF4843 !important;
    border-color: transparent !important;
}

.errors{
  color: #FF4843;
  font-size: 0.9em;
  font-family: 'Roboto Slab', serif;
}

.navbar-light .navbar-nav .nav-link{
  font-family: 'Roboto Slab', serif;
  text-transform:capitalize;
  font-size: 1.3;
  color: #59595B !important;
}

.search{
  letter-spacing: 0.05rem;
 font-size: 1em;
 font-family: 'Roboto Slab', serif;
  height:5vh;
  width:320px !important;
}

.dropdown-item{
  font-family: 'Roboto Slab', serif;
  text-transform:capitalize;
  font-size: 1.3;
  color: #59595B !important;
}

/*footer*/

footer{
  height: 28vh;
  background-color:#414142;
  color: #FAF9F6;
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;

}
.categorias {
  font-family: 'Roboto Slab', serif;
  text-align: left;
  padding: 10%;
  font-weight: 400;

}

.cat-a{
  color:gray;
  font-family: 'Roboto Slab', serif;
  text-align: left;
}

i{
  display: inline-block;
 margin-right: 1em;
}
.sm-icons{
  font-size:2em;
  padding:2%;
  color:
}

.cine-f{
  padding: 6%;
  font-family: 'Bebas Neue', cursive;!important;
  text-align: left;
  color: gray;
  font-size: 2em;
  line-height: 0.9;
}

.cine-top{
  max-width: 98%;
  border-top: solid 15px;
  color: #FF4843;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
}

.cine-bottom{
  max-width: 98%;
  height: 6px;
  border-top: solid 1.5px;
  border-bottom: solid 1.5px;
  color: #FF4843;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.cine{
  font-size: 7em;
  text-align: center;
  font-family: 'Bebas Neue', cursive;!important;
  color: #FF4843 !important;
  margin: auto;
}

.contenedor {
  position: relative;
}

.imagen-c {
  display: block;
  width: 100%;
  height: auto;
}

.capa{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.contenedor:hover .capa{
  opacity: 1;
}

.categoria-p {
  font-family: 'Bebas Neue', cursive;!important;
  color: #FAF9F6;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-cont{
  margin: 1%;
}

.poster{
  height: 400px;
  padding-bottom: 10px;
  width: 100%;
}

.tarjeta:hover{
  transform: scale(1.05);
}

.poster-c{
  padding-left:6%;
  padding-right:6%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.tarjeta{
  border-top: solid 5px #FF4843;
  text-align: center;
  justify-content: center;
}

.tarjeta p{
  font-family: 'Bebas Neue', cursive;!important;
  color: #59595B !important;
  font-size: 1.2em;
  text-align: center;
  justify-content: center;
}

.tarjeta-h1{
  font-family: 'Roboto Slab', serif;
  color: #59595B !important;
  font-size: 3em;
  text-align: center;
  justify-content: center;
  padding: 2%;
}

.pagination{
  font-family: 'Roboto Slab', serif;
  justify-content: center;
  text-align: center;
  color: #59595B;
  padding: 3%;
}
a.page-link{
  color: #FF4843 ;
}

.page-item.active .page-link{
  background-color: #F8DED7;
  color:  #FF4843 ;
  border-color: transparent ;
}

a.page-link:hover{
  border: none;
  background-color: #EFEAE9;
  color:gray;
}

.separador{
  max-width: 88%;
  height: 3px;
  border-top: solid 1.5px;
  border-bottom: solid 1.5px;
  color:#EFEAE9 ;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.poster-show{
  display:block;
   margin:auto;
   height: 400px;
   width: 100%;
}

.pelicula{
  font-family: 'Bebas Neue', cursive;!important;
  font-size: 2.5em;
  text-align: center;
  color:   #59595B;
}

.contenedor{
  padding: 5%;

}

.datos-peli{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: gray;

}

.cast{
  font-family: 'Roboto Slab', serif;
  text-align: left;
  color: #59595B;

}
.photo{
  height: 400px ;
  padding-bottom: 10px;
  width: auto;

}

.method{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  display: flex;
  justify-content: center;
  color:  #FF4843;
  font-weight: bold;
  border: none;
  background-color: white;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

  .cine{
    font-size: 2.2em;
  }

  .pelicula{
    font-size: 2em;

  }

  .tarjeta-h1{
    font-size: 2em;
  }

  .boton{
    left: 70%;
    text-align: center;
    font-size: 0.8em;
  }

  .conti{
    padding: 5%;
  }



}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {



 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
